<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.W3School.reRun.Transformer"></listener>
</listeners>
  <test thread-count="5" name="Test"  > <!--parallel = "classes"-->
  <parameter name = "Browser" value = "edge" />
  <groups>
  <run>
  <include name = "Main" ></include>
  <include name = "home" />
  <include name = "navbar" ></include>
  </run>
  </groups>
    <classes>
      <class name="com.W3School.Home"/>
      <class name="com.W3School.NavBar"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
